*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #dfebf3;
  display: grid;
  place-content: center;
  font-family: 'Karla', sans-serif;
  color: #fff;
  margin: 32px;
}

button {
  font: inherit;
}

.wrapper {
  max-width: 635px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper > * {
  grid-column: 1 / -1;
}

.welcome {
  background-color: #fff;
  width: 100%;
  padding: 28px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px 5px 0 0;
}

.welcome-title {
  font-size: 20px;
  font-weight: 700;
  color: #2ab3b1;
  margin-bottom: 8px;
}

.welcome-guarantee {
  font-size: 15px;
  font-weight: 700;
  color: #c0df33;
}

.welcome-description {
  font-size: 14px;
  font-weight: 400;
  color: #9aa7be;
  line-height: 1.6;
}

.subscription {
  background-color: #2ab3b1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  gap: 18px;
}

.subscription-title {
  font-size: 18px;
  font-weight: 700;
}

.subscription-cost {
  font-size: 32px;
  font-weight: 700;
}

.subscription-cost span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
}

.subscription-description {
  font-weight: 400;
}

.button {
  display: block;
  background-color: #c0df33;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  padding: 1rem;
  margin-top: 8px;
  box-shadow: 0 10px 10px 0 #20a2a0;
}

.summary {
  background-color: #45bfbd;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 5px;
}

.summary-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 13px;
}

.summary-description {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.75;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  .welcome {
    grid-column: 1 / span 2;
    padding: 40px;
    border-radius: 8px 8px 0 0;
  }

  .welcome-title {
    font-size: 24px;
  }

  .welcome-guarantee {
    font-size: 18px;
  }

  .welcome-description {
    font-size: 16px;
  }

  .subscription {
    grid-column: 1;
  }

  .summary {
    grid-column: 2;
  }
}
